{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="dashboard-main">
        <div class="dashboard-body">
            <div class="tickets">
                <div class="all-tickets ticket-container" id="allTickets">
                    <div>
                        <h1 id="allRequestsCount">{{ all_requests_count }}</h1>
                        <p>All Tickets</p>
                    </div>
                </div>
                <div class="waiting-tickets ticket-container" id="waitingTickets">
                    <div>
                        <h1 id="waitingRequestsCount">{{ waiting_requests_count }}</h1>
                        <p>Waiting</p>
                    </div>
                </div>
                <div class="assigned-tickets ticket-container" id="assignedTickets">
                    <div>
                        <h1 id="assignedRequestsCount">{{ assigned_requests_count }}</h1>
                        <p>Assigned</p>
                    </div>
                </div>
                <div class="resolved-tickets ticket-container" id="resolvedTickets">
                    <div>
                        <h1 id="resolvedRequestsCount">{{ resolved_requests_count }}</h1>
                        <p>Resolved</p>
                    </div>
                </div>
            </div>
            <div class="ticket-status ticket-diagram">
                <h4>Ticket Status</h4>
                <div class="doughnut-chart" id="doughnutContainer">
                    <canvas id="statusDiagram"></canvas>
                </div>
            </div>
            <div class="ticket-priority ticket-diagram">
                <h4>Ticket Priority</h4>
                <div class="pie-chart" id="pieContainer">
                    <canvas id="priorityDiagram"></canvas>
                </div>
            </div>
            <div id="lowUrgencyRequestsCount" number="{{ low_urgency_requests_count }}" style="display: none;"></div>
            <div id="mediumUrgencyRequestsCount" number="{{ medium_urgency_requests_count }}" style="display: none;"></div>
            <div id="highUrgencyRequestsCount" number="{{ high_urgency_requests_count }}" style="display: none;"></div>
            <div id="criticalUrgencyRequestsCount" number="{{ critical_urgency_requests_count }}" style="display: none;"></div>
            <div class="dashboard-header">
                <div class="employees header-container">
                    <a href="{% url 'users' %}">
                        <h4>Employees</h4>
                        <p>{{ users_count }}</p>
                        <div class="employees-image header-image">
                            <img src="{% static 'images/employee.jpg' %}" alt="">
                        </div>
                    </a>
                </div>
                <div class="departments header-container">
                    <a href="{% url 'departments' %}">
                        <h4>Departments</h4>
                        <p>{{ departments_count }}</p>
                        <div class="departments-image header-image">
                            <img src="{% static 'images/department.jpg' %}" alt="">
                        </div>
                    </a>
                </div>
                <div class="utilities header-container">
                    <a href="#">
                        <h4>Utilities and Scripts</h4>
                        <p>1000</p>
                        <div class="automation-image header-image">
                            <img src="{% static 'images/automation.jpg' %}" alt="">
                        </div>
                    </a>
                </div>
            </div>
            {% for dep in top_five_departments %}
            <div id="topDepartment" name="{{ dep.user__department__name }}" number="{{ dep.num_requests }}" style="display: none;"></div>
        {% endfor %}
            <div class="ticket-per-product ticket-diagram">
                <h4>Tickets per product</h4>
                <div class="product-diagram">
                    <canvas id="productDiagram"></canvas>
                </div>
            </div>
            <div class="ticket-per-department ticket-diagram">
                <h4>Tickets per department</h4>
                <div class="department-diagram">
                    <canvas id="departmentDiagram"></canvas>
                </div>
            </div>
        </div>

        <div class="dashboard-last-tickets-pane">
            <h3>Most recent</h3>
            {% for request in  last_requests %}
                <a href="{% url 'view-request' request.id %}">
                    <div class="ticket-side-pane">
                        <h4>{{ request.user }}</h4>
                        <p class="ticket-submission-time">{{ request.created_at|time:"h:i A" }}</p>
                        <p class="ticket-submission-date">{{ request.created_at|date:"jS F Y" }}</p>
                        <p class="ticket-title">Ticket title: {{ request.title }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>


</html>
{% endblock %}
