{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="departments-main">
    <div class="departments-table-header">
        <h1>Departments</h1>
        <a href="{% url 'create-department' %}">Create department</a>
    </div>

    <div class="departments-table">
        <table>
            <thead>
                <tr>
                    <th class="table-header-department-name">Department</th>
                    <th class="table-header-department-description">Description</th>
                    <th class="table-header-department-manager">Manager</th>
                    <th class="table-header-department-location">Location</th>
                    <th class="table-header-hidden"></th>
                </tr>
            </thead>
            <tbody id="tableBody">
                    {% for department in department_list %}
                    <tr class="table-row">
                        <td class="table-data-department-name" data-id="{{department.id}}">{{ department.name }}</td>
                        <td class="table-data-department-description">{{ department.description }}</td>
                        <td class="table-data-department-manager">{{ department.manager|default:'-' }}</td>
                        <td class="table-data-department-location">{{ department.location|default:'-' }}</td>
                        <td class="table-icons">
                            <a class="edit-department" href="{% url 'edit-department' pk=department.pk %}">
                                <img src="{% static '/images/edit.jpg' %}" alt="">
                            </a>
                            <a class="delete-department" href="{% url 'delete-department' pk=department.pk %}">
                                <img src="{% static '/images/delete.jpg' %}" alt="">
                            </a>
                        </td>
                    <!-- </a> -->
                    </tr>
                    {% empty %}
                    <tr class="table-row-no-departments">
                        <td class="no-departments-found">No departments</td>
                    </tr>
                    {% endfor %}


                
            </tbody>
        </table>
    </div>
</div>


{% endblock %}