{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="user-homepage-main">
    <div class="tickets-table-header">
        <h1>Submitted requests</h1>
        <a href="{% url 'create-request' %}">Create new request</a>
    </div>
    <div class="search-filter-header">
        <div class="per-status">
            <div class="initial-option-container">
                <p class="initial-option">Status</p>
                <img src="{% static '/images/arrow-down.jpg' %}">
            </div>
            <div class="filter-per-status-options">
                <div class="option">All</div>
                <div class="option">Waiting</div>
                <div class="option">Assigned</div>
                <div class="option">Resolved</div>
            </div>
        </div>
        <div class="per-details">
            <img src="{% static '/images/look-for.jpg' %}" alt="">
            <input type="text" name="details" id="perDetailsInput" placeholder="Search by ID/subject">
        </div>
        <div class="per-period">
            <div class="perPeriodSelector" id="weekSelector">Week</div>
            <div class="perPeriodSelector" id="monthSelector">Month</div>
            <div class="perPeriodSelector" id="yearSelector">Year</div>
        </div>
    </div>
    <div class="tickets-table">
        <table>
            <thead>
                <tr>
                    <th class="table-header-request-id">ID</th>
                    <th class="table-header-subject">Subject</th>
                    <th class="table-header-status">Status</th>
                    <th class="table-header-created-on">Created on</th>
                    <th class="table-header-updated-on">Updated on</th>
                    <th class="table-header-hidden"></th>
                </tr>
            </thead>
            <tbody id="tableBody">

                {% for request in request_list %}
                <tr class="table-row">
                    <td class="table-data-request-id" data-id="{{request.id}}">{{request.id}}</td>
                    <td class="table-data-subject">{{request.title}}</td>
                    <td class="table-data-status-cell">
                        <div class="table-data-status">{{request.status}}</div>
                    </td>
                    <td class="table-data-created-on">{{request.created_at|date:"Y-m-d"}}</td>
                    <td class="table-data-updated-on">{{request.updated_at|date:"Y-m-d"}}</td>
                    <td class="table-icons">
                        <a class="cancel-request" href="{% url 'cancel-request' pk=request.pk %}">
                            <img src="{% static '/images/delete.jpg' %}" alt="">
                        </a>
                    </td>
                </tr>

                {% empty %}
                <tr class="table-row-no-requests">
                    <td class="no-requests-found">No requests</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <form method="get">
            <label for="per_page">Page Size:</label>
            <input type="number" name="per_page" id="per_page" value="{{ paginator.per_page }}" max="100">
            <button type="submit">Apply</button>
        </form>
        <p class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </p>
        <div class="paginator-links">
            <a class="paginator-link" href="?page=1"><<</a>
            {% if page_obj.has_previous %}
            <a class="paginator-link" href="?page={{ page_obj.previous_page_number }}"><</a>
            {% else %}
            <a class="paginator-link" href="?page=1"><</a>
            {% endif %}
            {% if page_obj.has_next %}
            <a class="paginator-link" href="?page={{ page_obj.next_page_number }}">></a>
            {% else %}
            <a class="paginator-link" href="?page={{ page_obj.paginator.num_pages }}">></a>
            {% endif %}
            <a class="paginator-link" href="?page={{ page_obj.paginator.num_pages }}">>></a>
        </div>
</div>
</div>
{% endblock %}