/* Formatting header */
header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:stretch;
    /* padding: 1em 2em; */
    background-color: #1D3B65;
    /* background-color: #13364D; */
}

header h1 {
    color: white;
    padding: 0.5em 1em;
}

header h1:hover {
    cursor: default;
}

header .navigation-bar {
    flex-grow: 1;
    display: flex;
    /* max-width: 35%; */
    height: 100%;
    align-items: stretch;
    /* justify-content: space-between; */
    justify-content: flex-end;
    /* gap: 4em; */
    padding: 0 2em;
    font-size: 14px;
}

header .navigation-bar div {
    display: flex;
    align-items: stretch;
    padding: 1.25em 0;

    /* flex-grow: 1; */
    /* align-items: center;
    gap: 1em; */
}



header .navigation-bar .signin-nav-bar,
header .navigation-bar .signup-nav-bar,
header .navigation-bar .home-nav-bar,
header .navigation-bar .dashboard-nav-bar,
header .navigation-bar .profile-nav-bar,
header .navigation-bar .admin-nav-bar,
header .navigation-bar .my-team-nav-bar,
header .navigation-bar .notifications-nav-bar{
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 1.25em 2em;
    /* text-align: center; */
}

header .navigation-bar div a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    /* padding: 1.25em 2em; */
    /* text-align: center; */
}

header .navigation-bar .signin-nav-bar:hover,
header .navigation-bar .signup-nav-bar:hover,
header .navigation-bar .home-nav-bar:hover,
header .navigation-bar .dashboard-nav-bar:hover,
header .navigation-bar .profile-nav-bar:hover,
header .navigation-bar .admin-nav-bar:hover,
header .navigation-bar .my-team-nav-bar:hover,
header .navigation-bar .notifications-nav-bar:hover{
    background-color: #122642;
    transition: all 0.4s;
}

/* profile dropdown menu on hover */
header .navigation-bar .profile-options,
header .navigation-bar .admin-options,
header .navigation-bar .my-team-options{
    display: none;
    position: absolute;
    /* bottom: -100%; */
    /* right: 0; */
    top: 2.45em;
    right: 0;
    width: 26%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background-color: transparent;
    padding-bottom: 0;
    /* opacity: 0.9; */
}

header .navigation-bar .profile-options .profile-option,
header .navigation-bar .admin-options .admin-option,
header .navigation-bar .my-team-options .my-team-option{
    padding: 10px;
    cursor: pointer;
    /* background-color: #13364D; */
    background-color: #122642;
    max-height: 120px;
    transition: all 0.4s;

}

/* header .navigation-bar .profile-options .profile-option {
    max-height: 120px;
    transition: all 0.4s;
} */

header .navigation-bar .profile-options .profile-option a,
header .navigation-bar .admin-options .admin-option a,
header .navigation-bar .my-team-options .my-team-option a{
    width: 100%;
}
  
header .navigation-bar .profile-options .profile-option:hover,
header .navigation-bar .admin-options .admin-option:hover,
header .navigation-bar .my-team-options .my-team-option:hover
header .navigation-bar div:hover{
    background-color: #0d1c30;
}

/* header .navigation-bar .profile-options .profile-option:hover + .profile-options {
    animation: rollUp 2s ease;
} */

.signup-nav-bar{
    margin-left: 8em;
}

.signin-nav-bar {
    margin-right: 1em;
}

.notification-count {
  background-color: red;
  color: white;
  border-radius: 50px;
  padding: 1px 5px;
  margin-left: 5px;
}


@keyframes rollDown {
    from {
      height: 0;
    }

    to {
      height: 100px;
      max-height: 100px; /* Adjust the max height based on your content */
    }
  }
  
  @keyframes rollUp {
    from {
      max-height: 200px; /* Adjust the max height based on your content */
    }
    to {
      max-height: 0;
    }
  }