
.users-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3em;
}

.users-main .users-table-header {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
}

.users-main .users-table-header h1 {
    color: #757575;
    font-size: 2.5em;
    font-weight: normal;
}

.users-main .users-table-header a {
    color: #757575;
    text-decoration: none;
    border-radius: 5px;
}

.users-table,
.users-table table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-collapse: collapse;
}

.users-table table thead tr {
    display: flex;
    padding-bottom: 1em;
    width: 100%;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
    padding: 1em 15%;
}

.users-table table thead tr th {
    color: #a4a4a4;
    text-transform: uppercase;
    margin-left: 2em;
    text-align: left;
}

.users-table table thead tr th.table-header-user-username,
.users-table table tbody .table-row td.table-data-user-username,
.users-table table thead tr th.table-header-user-role,
.users-table table tbody .table-row td.table-data-user-role,
.users-table table thead tr th.table-header-user-department,
.users-table table tbody .table-row td.table-data-user-department{
    width: 15%;
}

.users-table table thead tr th.table-header-user-email,
.users-table table tbody .table-row td.table-data-user-email {
    width: 25%;

}

.users-table table thead tr th.table-header-user-staff,
.users-table table tbody .table-row td.table-data-user-staff,
.users-table table thead tr th.table-header-user-superuser,
.users-table table tbody .table-row td.table-data-user-superuser{
    width: 10%;

}
.users-table table tbody tr td {
    padding: 1em 0 1em 2em;
    text-align: left;
    box-sizing: content-box;
}


.users-table table thead tr th.table-header-hidden,
.users-table table tbody .table-row td.table-icons{
    width: 10%;
    margin-left: 0.5%;
    padding-left: 0;
}

.users-table table tbody .table-row td.table-icons .delete-user,
.users-table table tbody .table-row td.table-icons .edit-user{
    margin-right: 0.5em;
    text-decoration: none;
}

.users-table table tbody .table-row td.table-icons .delete-user img {
    width: 12px;
    height: 15px;
}

.users-table table tbody .table-row td.table-icons .edit-user img {
    width: 15px;
    height: 15px;
}

/* TODO: add tooltip on hovering the delete icon */
/* .tickets-table table tbody .table-row td.table-icons a img:hover::after {
    content: "Delete request";
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    opacity: 0.7;
} */

.users-table table tbody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    max-height: 60vh;
}

.users-table table tbody::-webkit-scrollbar {
    display: none;
}

.users-table table tbody .table-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.5em 15%;
    background-color: #ffffff;
    opacity: 0.7;
    box-shadow: 0 0 10px 2px rgba(162, 162, 162, 0.2);
}

.users-table table tbody .table-row:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.table-row-no-users {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    margin: 0.5em 15%;
    padding: 1.5em 0;
}
.no-users-found {
    font-size: 2em;
    color: #757575;
}

.delete-confirm h1 {
    color: #757575;
    font-weight: normal;
    text-align: left;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    line-height: 1.5em;
    border-bottom: 1px solid #b5b5b5;
}

.delete-confirm p {
    color: #757575;
    font-size: 1.2em;
    text-align: left;
    padding-bottom: 1.5em;
    line-height: 1.5em;
}

.cancel {
    background-color: #757575;
    color: white;
    font-size: 1em;
    text-decoration: none;
    padding: 1em 3em;
    border-radius: 5px;
    margin-right: 2em;
    margin-top: 1em;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0;
}

.pagination .current {
    margin: 0.5em 1em;
    color: #757575;
    text-align: center;
}

.paginator-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.paginator-link {
    text-decoration: none;
    color: #757575;
    font-size: 1.1em;
}
