{% extends 'index-base.html' %}
{% load static %}
{% block content %}
    <div class="contacts-page">
        <div class="contacts-header initial-header">
            <a href="{% url 'index' %}">
                <img class="initial-logo" src="{% static '/images/logo2.jpg' %}" alt="">
            </a>
            <ul>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'contacts' %}">Contacts</a></li>
                {% if not user.is_authenticated %}
                <li><a href="{% url 'signin' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Register</a>
                    {% else %}
                    {% if user.is_superuser %}
                    <li><a href="{% url 'dashboard' %}">Platform</a></li>
                    {% else %}
                    <li><a href="{% url 'user-home' %}">Platform</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
        <div class="heading-contacts-page">
            <h1>Contact Us</h1>
        </div>
        <div class="contacts-content">
            <p>
                If you have any questions or need assistance, feel free to reach out to us. Our team is here to help and
                provide
                the support you need.
            </p>
            <!-- TODO: Add more contacts -->
            <ul>
                <li>Email: info@solvetech.com</li>
                <li>GitHub: <a href="https://github.com/bellaStefanova/TechSupportSystem.git">Click here</a></li>
            </ul>

        </div>
    </div>
{% endblock %}