<!-- only accessible to admins -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Support</title>
    <link rel="stylesheet" href="{% static '/styles/styles.css' %}">
    <script src="{% static '/scripts/profile-navbar-dynamic-menu.js' %}"></script>
    <script src="{% static '/scripts/user-homepage-actions.js' %}"></script>
    <script src="{% static '/scripts/notifications-reading.js' %}"></script>
    <script src="{% static '/scripts/take-request.js' %}"></script>

</head>

<body>
    <header class="nav">
        <h1>Tech Support System</h1>
        <div class="navigation-bar">
            {% if user.is_authenticated %}

            <!-- <ul> -->
            {% if user.is_superuser %}
            <div class="dashboard-nav-bar">
                <a href="#">Dashboard</a>
            </div>
            {% endif %}
            <div class="home-nav-bar">
                <a href="{% url 'user-home' %}">Home</a>
            </div> <!-- this will lead to home page with submit ticket, view tickets-->
            <div>
                <a href="{% url 'view-notifications' %}">Notifications</a>
                {% if notifications > 0 %}
                <span class="notification-count">{{ notifications }}</span>
                {% endif %}
            </div> <!-- about resolved tickets, messages, etc.-->
            <!-- <li><a href="#">Dashboard</a></li> seen only by admins -->
            <div class="profile-nav-bar">
                <p>Profile</p> <!--profile page with employee info about company, department, etc.-->
                <div class="profile-options">
                    <div class="profile-option">
                        <a href="{% url 'profile-details' %}">Profile details</a>
                    </div>
                    <div class="profile-option">
                        <a href="#">Change password</a>
                    </div>
                    <div class="profile-option">
                        <a href="{% url 'signout' %}">Sign out</a>
                    </div>
                </div>
            </div>
            
            <!-- </ul> -->
            {% else %}
            <div class="signup-nav-bar">
                <a href="{% url 'signup' %}">Sign Up</a>
            </div>
            <div class="signin-nav-bar">
                <a href="{% url 'signin' %}">Sign In</a>
            </div>
            {% endif %}
        </div>
    </header>

{% block content %}
{% endblock %}


</body>


</html>