html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

/* Formatting header */
header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: #1D3B65;
}

header h1 {
    color: white;
}

header h1:hover {
    cursor: default;
}

header ul li {
    display: inline-block;
    padding: 0 1em;
}

header ul li a {
    color: white;
    text-decoration: none;
}

/* formatting main content */

.dashboard-main {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dashboard-body {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dashboard-last-tickets-pane {
    width: 30%;
}

/* dashboard header format */

.dashboard-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1em;
}

.header-container {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    padding: 1em;
    width: 31%;
}

.header-container a {
    text-decoration: none;
    color: rgb(68, 68, 68);
}

.header-container h4 {
    text-transform: uppercase;
    color: #7C7C7C;
}

.header-container p {
    font-size: 1.5em;
    padding-top: 0.5em;
    color: black;
    font-weight: bold;
}

.header-container img {
    display: inline-block;
    width: 75px;
    height: 75px;
}

.header-container .header-image {
    text-align: right;
}

/* tickets part */
.tickets {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.ticket-container {
    width: 48%;
    margin: 1%;
    border-radius: 3px;
}

.ticket-container a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.ticket-container a h1 {
    font-size: 2em;
    padding-top: 1.5em;
}

.ticket-container a p {
    font-size: 0.9em;
    padding: 1em 0 3em 0;
}

.all-tickets {
    background-color: #1D3B65;
    margin-left: 0;
}

.waiting-tickets {
    background-color: #be3a3a;
}

.assigned-tickets {
    background-color: #bd9037;
    margin-left: 0;
}

.resolved-tickets {
    background-color: #279127;
}

/* ticket per status pie */

.ticket-diagram {
    background-color: white;
    margin: 0.5em 0;
    border-radius: 3px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    padding: 1em;
}

.ticket-status {
    width: 37%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
}

.ticket-diagram h4 {
    text-transform: uppercase;
    color: #7C7C7C;
    text-align: left;
    width: 100%;
    padding-bottom: 2em;
}

.doughnut-chart {
    width: 70%;
}

.pie-chart {
    width: 100%;
}

.ticket-priority,
.ticket-per-product,
.ticket-per-department {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
}

.product-diagram,
.department-diagram {
    padding-top: 4em;
    display: flex;
    width: 100%;
}

.product-diagram canvas,
.department-diagram canvas {
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 100%;
    width: 100%;
}

/* Side pane with last 10 tickets */
.dashboard-last-tickets-pane {
    max-height: 920px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.dashboard-last-tickets-pane::-webkit-scrollbar {
    width: 12px;
}

.dashboard-last-tickets-pane::-webkit-scrollbar-thumb {
    background-color: #cacaca;
    border-radius: 6px;
}

.dashboard-last-tickets-pane::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.dashboard-last-tickets-pane::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
}

.dashboard-last-tickets-pane a {
    text-decoration: none;
    color: black;
}

.dashboard-last-tickets-pane h3 {
    text-transform: uppercase;
    color: #7C7C7C;
    padding-bottom: 1em;
}

.ticket-side-pane {
    padding-top: 0.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1em 1em 1em;
    border-top: 1px solid lightgrey;

}

.ticket-side-pane h4 {
    width: 70%;
    color: #3e3e3e;
    font-size: 1.25em;
    padding-bottom: 0.2em;
}

.ticket-side-pane .ticket-submission-time {
    width: 20%;
    color: #7C7C7C;
    text-align: right;
}

.ticket-side-pane .ticket-submission-date {
    width: 100%;
    font-size: 0.9em;
    color: #7C7C7C;
    padding-bottom: 1em;
}

/* .ticket-side-pane .ticket-title {
    overflow:;
} */


@media screen and (max-width: 1000px) {
    .dashboard-last-tickets-pane {
        display: none;
    }

    .dashboard-body {
        width: 100%;
    }
}

/* User home page */
/* search bar for filtering requests */

.user-homepage-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3em;
}

.user-homepage-main .tickets-table-header {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
}

.user-homepage-main .tickets-table-header h1 {
    color: #a4a4a4;
    font-size: 2.5em;
    font-weight: normal;
}

.user-homepage-main .tickets-table-header a {
    background-color: #1D3B65;
    color: white;
    text-decoration: none;
    padding: 1em 1.2em;
    border-radius: 5px;
}

.user-homepage-main .search-filter-header {
    background-color: white;
    width: 70%;
    display: flex;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 3px;
    box-shadow: 0 0 10px 2px rgba(162, 162, 162, 0.2);
}

.search-filter-header .per-status {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #ccc;
    padding: 8px 0;
    width: 9%;
}

.search-filter-header .per-status .initial-option-container {
    width: 70%;
    text-align: center;
    padding-left: 10px;
    color: #a4a4a4;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.search-filter-header .per-status .initial-option-container img {
    margin-right: 15px;
    margin-bottom: 2px;
    display: inline-block;
    width: 10px;
    height: 6px;
}

.search-filter-header .per-status .filter-per-status-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.search-filter-header .per-status .filter-per-status-options .option {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
}
  
.search-filter-header .per-status .filter-per-status-options .option:hover {
    background-color: #f0f0f0;
}

.search-filter-header .per-details {
    display: flex;
    align-items: center;
    width: 56%;
}

.search-filter-header .per-details img {
    margin: 0 12px 2px 24px;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.search-filter-header .per-details input {
    width: 90%;
    font-size: 1em;
    color: #a4a4a4;
    border: none;
}

.search-filter-header .per-details input::placeholder {
    color: #a4a4a4;
}

.search-filter-header .per-details input:focus {
    outline: none;
    border: none;
}

.search-filter-header .per-period {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 2em;
    flex-grow: 1;
}

.search-filter-header .per-period a{
    text-decoration: none;
    color: #7b7b7b;
    background-color: #dbdbdb;
    padding: 0.5em 2em;
}

/* requests table */
.tickets-table,
.tickets-table table {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.tickets-table table thead tr {
    display: flex;
    padding-bottom: 1em;
    width: 100%;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
    padding: 1em 15%;
}

.tickets-table table thead tr th {
    color: #a4a4a4;
    text-transform: uppercase;
    margin-left: 2em;
    text-align: left;
}

.tickets-table table thead tr th.table-header-request-id,
.tickets-table table tbody tr td.table-data-request-id{
    width: 12%;
}

.tickets-table table thead tr th.table-header-subject,
.tickets-table table tbody tr td.table-data-subject{
    width: 40%;
}

.tickets-table table tbody tr td.table-data-status{
    width: 12%;
    text-align: center;
    border-radius: 5px;
    color: white;
    margin-right: 1em;
}

.tickets-table table thead tr th.table-header-status{
    width: 12%;
    text-align: center;
    margin-right: 1em;
}

.tickets-table table thead tr th.table-header-created-on,
.tickets-table table tbody tr td.table-data-created-on,
.tickets-table table thead tr th.table-header-updated-on,
.tickets-table table tbody tr td.table-data-updated-on{
    width: 18%;
}


.tickets-table table tbody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    max-height: 50vh;
}

.tickets-table table tbody::-webkit-scrollbar {
    display: none;
}

.tickets-table table tbody tr {
    display: flex;
    justify-content: space-around;
    margin: 0.5em 15%;
    padding: 1.5em 0;
    background-color: #ffffff;
    opacity: 0.7;
    box-shadow: 0 0 10px 2px rgba(162, 162, 162, 0.2);
}

.tickets-table table tbody tr:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.tickets-table table tbody tr td {
    text-align: left;
    margin-left: 2em;
    /* text-indent: 2px; */
    
}