{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="additional-profile-details-pane form-container">
        <form action="{% url 'add-profile-details'%}" method="post">
            {% csrf_token %}
            <div class="form-fields">
                {{ form }}
            </div>
            <div class="form-buttons">
                <a class="cancel-button" href="{% url 'user-home' %}">Skip</a>
                <button class="submit">Save</button>
            </div>
        </form>
    </div>
{% endblock %}
