.departments-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3em;
}

.departments-main .departments-table-header {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
}

.departments-main .departments-table-header h1 {
    color: #757575;
    font-size: 2.5em;
    font-weight: normal;
}

.departments-main .departments-table-header a {
    background-color: #1D3B65;
    color: white;
    text-decoration: none;
    padding: 1em 1.2em;
    border-radius: 5px;
}

.departments-table,
.departments-table table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-collapse: collapse;
}

.departments-table table thead tr {
    display: flex;
    padding-bottom: 1em;
    width: 100%;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
    padding: 1em 15%;
}

.departments-table table thead tr th {
    color: #a4a4a4;
    text-transform: uppercase;
    margin-left: 2em;
    text-align: left;
}

.departments-table table thead tr th.table-header-department-name,
.departments-table table tbody .table-row td.table-data-department-name,
.departments-table table thead tr th.table-header-department-manager,
.departments-table table tbody .table-row td.table-data-department-manager,
.departments-table table thead tr th.table-header-department-location,
.departments-table table tbody .table-row td.table-data-department-location{
    width: 14%;
}

.departments-table table thead tr th.table-header-department-description,
.departments-table table tbody .table-row td.table-data-department-description{
    width: 49%;
}


.departments-table table tbody tr td {
    padding: 1em 0 1em 2em;
    text-align: left;
    box-sizing: content-box;
}


.departments-table table thead tr th.table-header-hidden,
.departments-table table tbody .table-row td.table-icons{
    width: 8%;
    margin-left: 0.5%;
    padding-left: 0;
}

.departments-table table tbody .table-row td.table-icons .delete-department,
.departments-table table tbody .table-row td.table-icons .edit-department{
    margin-right: 0.5em;
    text-decoration: none;
}

.departments-table table tbody .table-row td.table-icons .delete-department img {
    width: 12px;
    height: 15px;
}

.departments-table table tbody .table-row td.table-icons .edit-department img {
    width: 15px;
    height: 15px;
}

.departments-table table tbody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    max-height: 60vh;
}

.departments-table table tbody::-webkit-scrollbar {
    display: none;
}

.departments-table table tbody .table-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.5em 15%;
    background-color: #ffffff;
    opacity: 0.7;
    box-shadow: 0 0 10px 2px rgba(162, 162, 162, 0.2);
}

.departments-table table tbody .table-row:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.table-row-no-departments {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    margin: 0.5em 15%;
    padding: 1.5em 0;
}
.no-departments-found {
    font-size: 2em;
    color: #757575;
}

.delete-confirm h1 {
    color: #757575;
    font-weight: normal;
    text-align: left;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    line-height: 1.5em;
    border-bottom: 1px solid #b5b5b5;
}

.delete-confirm p {
    color: #757575;
    font-size: 1.2em;
    text-align: left;
    padding-bottom: 1.5em;
    line-height: 1.5em;
}


@media screen and (max-width: 900px) {
    
    .departments-main .departments-table-header {
        width: 80%;
        margin-bottom: 2em;
    }

    .departments-table table thead tr {
        padding: 1em 10%;
    }

    .departments-table table tbody .table-row {
        margin: 0.5em 10%;
    }
}

@media screen and (max-width: 800px) {

    .departments-table table tbody tr td {
        padding: 1em 0 1em 1em;
    }

    .departments-table table thead tr th {
        margin-left: 1em;
    }

    .departments-table table thead tr th.table-header-department-name, 
    .departments-table table tbody .table-row td.table-data-department-name {
        width: 19%;
    }

    .departments-table table thead tr th.table-header-department-description, 
    .departments-table table tbody .table-row td.table-data-department-description {
        width: 40%;
    }

    .departments-table table thead tr th.table-header-hidden, 
    .departments-table table tbody .table-row td.table-icons {
        width: 13%;
        margin-left: 0.5%;
        padding-left: 0;
    }
}

@media screen and (max-width: 500px) {

    .departments-main .departments-table-header {
        flex-direction: column;
    }

    .departments-main .departments-table-header h1 {
        margin-bottom: 1em;
    }

    .departments-table table thead tr th.table-header-department-location, 
    .departments-table table tbody .table-row td.table-data-department-location,
    .departments-table table thead tr th.table-header-department-manager, 
    .departments-table table tbody .table-row td.table-data-department-manager {
        width: 27%;
    }

    .departments-table table thead tr th.table-header-department-name, 
    .departments-table table tbody .table-row td.table-data-department-name {
        width: 29%;
    }

    .departments-table table thead tr th.table-header-hidden, 
    .departments-table table tbody .table-row td.table-icons {
        width: 15%;
    }

    .departments-table table thead tr th.table-header-department-description, 
    .departments-table table tbody .table-row td.table-data-department-description {
        display: none;
    }

    .departments-table table thead tr {
        padding: 1em 5%;
    }

    .departments-table table tbody .table-row {
        margin: 0.5em 5%;
    }
}

@media screen and (max-width: 350px) {

    .departments-table table thead tr th.table-header-department-location, 
    .departments-table table tbody .table-row td.table-data-department-location {
        display: none;
    }

    .departments-table table thead tr th.table-header-department-manager, 
    .departments-table table tbody .table-row td.table-data-department-manager {
        width: 35%;
    }

    .departments-table table thead tr th.table-header-department-name, 
    .departments-table table tbody .table-row td.table-data-department-name {
        width: 40%;
    }
    
    .departments-table table thead tr th.table-header-hidden, 
    .departments-table table tbody .table-row td.table-icons {
        width: 25%;
    }
}