.form-container {
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form-container form {
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2.5em;
    border-radius: 3px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    margin: 2.6em 35em;
}
.form-container form .form-fields {
    flex: 1 1 auto;
    flex-direction: column;
}

.form-container form .form-fields label,
.form-container form .form-fields input,
.form-container form .form-fields select{
    width: 100%;
    font-size: 1.1em;
    margin: 0.5em 0;

}

.form-container form .form-fields label {
    color: #1D3B65;
    font-weight: bold;
}

.form-container form .form-fields input,
.form-container form .form-fields select {
    padding: 0.5em;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #545454;
    margin-bottom: 1em;
}

.errorlist li {
    color: red;
    list-style: none;
}

.form-container form .form-buttons {
    display: flex;
    justify-content: space-around;

}

.signup-button {
    background-color: #1D3B65;
    color: white;
    border: none;
    padding: 1em 3em;
    margin-top: 1em;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    width: 120px;
}

.form-container form .submit {
    background-color: #1D3B65;
    color: white;
    border: none;
    padding: 1em 2em;
    margin-top: 1em;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    width: 110px;
}



.cancel-button {
    background-color: #848484;
    color: white;
    padding: 1em 2em;
    border-radius: 5px;
    text-align: center;
    margin-top: 1em;
    text-decoration: none;
    width: 110px;
    cursor: pointer;
}

.form-fields .helptext {
    color: #848484;
    font-size: 0.9em;
    margin-top: 0.5em;

}

.form-fields .helptext ul {
    list-style: none;
    padding-bottom: 1em;
}

textarea {
    width: 100%;
    margin-bottom: 1em; 
    margin-top: 0.5em;
    padding: 0.5em;
    border: 1px solid #ccc;
    resize: none;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: #545454
}

textarea::-webkit-scrollbar {
    width: 12px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #cacaca;
    border-radius: 6px;
}

textarea::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

textarea::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
}