.notifications-page {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: start;
    justify-content: center;
    /* padding: 3em 5em; */
    width: 100%;
}

.notifications-page .notifications-page-heading {
    color: #757575;
    font-size: 2.5em;
    font-weight: normal;
    padding: 1em 4em;
    border-bottom: 1px solid grey;
    width: 100%;
    margin-bottom: 1em;
}

.request-notifications,
.user-notifications {
    width: 50%;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    padding: 2em 8em;
    justify-content: flex-start;
    align-items: center;
}

.request-notifications {
    border-right: 1px solid grey;
}

.request-notifications h3,
.user-notifications h3 {
    color: #757575;
    font-size: 1.5em;
    font-weight: normal;
    /* padding: 1em 4em; */
    /* border-bottom: 1px solid grey; */
    width: 50%;
    margin-bottom: 1em;
    margin-top: 1em;
}

.read-all-notifications-button {
    background-color: #1D3B65;
    color: white;
    text-align: center;
    width: 25%;
    font-size: 1em;
    cursor: pointer;

    padding: 1em 1.4em;
    border-radius: 5px;
    margin-left: 8em;
    /* margin-bottom: 1em; */
    /* margin-left: 10em; */

}

.notification-container {
    border-radius: 3px;
    background-color: white;
    margin: 1em 10em 1em 0;
    padding: 0.5em;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 400px;
}

.notification-container .unread-notification p{
    font-weight: bold;
    padding-bottom: 3px;
}

.notification-container .read-notification p{
    padding-bottom: 3px;
}

.notification-container .notification-id {
    display: none;
}

.no-notifications {
    color: #757575;
    font-size: 1.5em;
    font-weight: normal;
    padding: 1em 4em;
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
}

