.roles-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3em;
}

.roles-main .roles-table-header {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
}

.roles-main .roles-table-header h1 {
    color: #757575;
    font-size: 2.5em;
    font-weight: normal;
}

.roles-main .roles-table-header a {
    background-color: #1D3B65;
    color: white;
    text-decoration: none;
    padding: 1em 1.7em;
    border-radius: 5px;
}

.roles-table,
.roles-table table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-collapse: collapse;
}

.roles-table table thead tr {
    display: flex;
    padding-bottom: 1em;
    width: 100%;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
    padding: 1em 15%;
}

.roles-table table thead tr th {
    color: #a4a4a4;
    text-transform: uppercase;
    margin-left: 2em;
    text-align: left;
}

.roles-table table thead tr th.table-header-role-title,
.roles-table table tbody .table-row td.table-data-role-title,
.roles-table table thead tr th.table-header-role-department,
.roles-table table tbody .table-row td.table-data-role-department {
    width: 21%;
}

.roles-table table thead tr th.table-header-role-description,
.roles-table table tbody .table-row td.table-data-role-description{
    width: 49%;
}

.roles-table table tbody tr td {
    padding: 1em 0 1em 2em;
    text-align: left;
    box-sizing: content-box;
}

.roles-table table thead tr th.table-header-hidden,
.roles-table table tbody .table-row td.table-icons{
    width: 8%;
    margin-left: 0.5%;
    padding-left: 0;
}

.roles-table table tbody .table-row td.table-icons .delete-role,
.roles-table table tbody .table-row td.table-icons .edit-role {
    margin-right: 0.5em;
    text-decoration: none;
}

.roles-table table tbody .table-row td.table-icons .delete-role img {
    width: 12px;
    height: 15px;
}

.roles-table table tbody .table-row td.table-icons .edit-role img {
    width: 15px;
    height: 15px;
}

.roles-table table tbody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    max-height: 60vh;
}

.roles-table table tbody::-webkit-scrollbar {
    display: none;
}

.roles-table table tbody .table-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.5em 15%;
    background-color: #ffffff;
    opacity: 0.7;
    box-shadow: 0 0 10px 2px rgba(162, 162, 162, 0.2);
}

.roles-table table tbody .table-row:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.table-row-no-roles {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    margin: 0.5em 15%;
    padding: 1.5em 0;
}

.no-roles-found {
    font-size: 2em;
    color: #757575;
}

.delete-confirm h1 {
    color: #757575;
    font-weight: normal;
    text-align: left;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    line-height: 1.5em;
    border-bottom: 1px solid #b5b5b5;
}

.delete-confirm p {
    color: #757575;
    font-size: 1.2em;
    text-align: left;
    padding-bottom: 1.5em;
    line-height: 1.5em;
}

@media screen and (max-width: 1000px) {

    .roles-main .roles-table-header {
        width: 90%;
    }
}

@media screen and (max-width: 900px) {
    
    .roles-main .roles-table-header {
        width: 80%;
        margin-bottom: 2em;
    }

    .roles-table table thead tr {
        padding: 1em 10%;
    }

    .roles-table table tbody .table-row {
        margin: 0.5em 10%;
    }
}

@media screen and (max-width: 800px) {

    .roles-table table tbody tr td {
        padding: 1em 0 1em 1em;
    }

    .roles-table table thead tr th {
        margin-left: 1em;
    }

    .roles-table table thead tr th.table-header-role-description, 
    .roles-table table tbody .table-row td.table-data-role-description {
        width: 40%;
    }

    .roles-table table thead tr th.table-header-role-department, 
    .roles-table table tbody .table-row td.table-data-role-department {
        width: 18%;
    }

    .roles-table table thead tr th.table-header-hidden, 
    .roles-table table tbody .table-row td.table-icons {
        width: 13%;
        margin-left: 0.5%;
        padding-left: 0;
    }
}

@media screen and (max-width: 500px) {

    .roles-main .roles-table-header {
        flex-direction: column;
    }

    .roles-main .roles-table-header h1 {
        margin-bottom: 1em;
    }

    .roles-table table thead tr th.table-header-role-title, 
    .roles-table table tbody .table-row td.table-data-role-title,
    .roles-table table thead tr th.table-header-role-department, 
    .roles-table table tbody .table-row td.table-data-role-department {
        width: 40%;
    }

    .roles-table table thead tr th.table-header-hidden, 
    .roles-table table tbody .table-row td.table-icons {
        width: 20%;
    }

    .roles-table table thead tr th.table-header-role-description, 
    .roles-table table tbody .table-row td.table-data-role-description {
        display: none;
    }

    .roles-table table thead tr {
        padding: 1em 5%;
    }

    .roles-table table tbody .table-row {
        margin: 0.5em 5%;
    }
}

@media screen and (max-width: 300px) {

    .roles-table table thead tr th.table-header-role-title, 
    .roles-table table tbody .table-row td.table-data-role-title,
    .roles-table table thead tr th.table-header-role-department, 
    .roles-table table tbody .table-row td.table-data-role-department {
        width: 39%;
    }
    
    .roles-table table thead tr th.table-header-hidden, 
    .roles-table table tbody .table-row td.table-icons {
        width: 22%;
    }
}
