
.user-homepage-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3em;
}

.user-homepage-main .tickets-table-header {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
}

.user-homepage-main .tickets-table-header h1 {
    color: #757575;
    font-size: 2.5em;
    font-weight: normal;
}

.user-homepage-main .tickets-table-header a {
    background-color: #1D3B65;
    color: white;
    text-decoration: none;
    padding: 1em 1.2em;
    border-radius: 5px;
}

.user-homepage-main .search-filter-header {
    background-color: white;
    width: 70%;
    display: flex;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 3px;
    box-shadow: 0 0 10px 2px rgba(162, 162, 162, 0.2);
}

.search-filter-header .per-status {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #ccc;
    padding: 8px 0;
    width: 9%;
    min-width: 94px;
}

.search-filter-header .per-status .initial-option-container {
    width: 70%;
    text-align: center;
    padding-left: 10px;
    color: #a4a4a4;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.search-filter-header .per-status .initial-option-container img {
    margin-right: 15px;
    margin-bottom: 2px;
    display: inline-block;
    width: 10px;
    height: 6px;
}

.search-filter-header .per-status .filter-per-status-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.search-filter-header .per-status .filter-per-status-options .option {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
}
  
.search-filter-header .per-status .filter-per-status-options .option:hover {
    background-color: #f0f0f0;
}

.search-filter-header .per-details {
    display: flex;
    align-items: center;
    width: 56%;
}

.search-filter-header .per-details img {
    margin: 0 12px 2px 24px;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.search-filter-header .per-details input {
    width: 90%;
    font-size: 1em;
    color: #a4a4a4;
    border: none;
}

.search-filter-header .per-details input::placeholder {
    color: #a4a4a4;
}

.search-filter-header .per-details input:focus {
    outline: none;
    border: none;
}

.search-filter-header .per-period {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 2em;
    flex-grow: 1;
}

.search-filter-header .per-period div{
    cursor: pointer;
    color: #7b7b7b;
    background-color: #dbdbdb;
    padding: 0.5em 2em;
}

.tickets-table,
.tickets-table table {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-collapse: collapse;
}

.tickets-table table thead tr {
    display: flex;
    padding-bottom: 1em;
    width: 100%;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
    padding: 1em 15%;
}

.tickets-table table thead tr th {
    color: #a4a4a4;
    text-transform: uppercase;
    margin-left: 2em;
    text-align: left;
}

.tickets-table table thead tr th.table-header-request-id,
.tickets-table table tbody .table-row td.table-data-request-id{
    width: 5%;
}

.tickets-table table thead tr th.table-header-subject,
.tickets-table table tbody .table-row td.table-data-subject{
    width: 45%;
    overflow: hidden;
}

.tickets-table table tbody .table-row td.table-data-status-cell{
    width: 12%;
    text-align: center;
    border-radius: 5px;
    color: white;
}

.tickets-table table tbody .table-row td.table-data-status-cell .table-data-status{
    padding: 0.5em;
    border-radius: 3px;
    min-width: 62px;
}

.tickets-table table thead tr th.table-header-status{
    width: 12%;
    text-align: center;
}

.tickets-table table tbody tr td {
    padding: 1em 0 1em 2em;
    text-align: left;
    box-sizing: content-box;
}

.tickets-table table thead tr th.table-header-created-on,
.tickets-table table tbody .table-row td.table-data-created-on,
.tickets-table table thead tr th.table-header-updated-on,
.tickets-table table tbody .table-row td.table-data-updated-on{
    width: 17%;
}

.tickets-table table thead tr th.table-header-hidden,
.tickets-table table tbody .table-row td.table-icons{
    width: 4%;
    padding: 0 1em 0 1.5em;
}

.tickets-table table tbody .table-row td.table-icons a img {
    width: 12px;
    height: 15px;
}

.tickets-table table tbody .table-row td.table-icons a img:hover  {
    cursor: pointer;
}

.tickets-table table tbody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    max-height: 50vh;
}

.tickets-table table tbody::-webkit-scrollbar {
    display: none;
}

.tickets-table table tbody .table-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.5em 15%;
    background-color: #ffffff;
    opacity: 0.7;
    box-shadow: 0 0 10px 2px rgba(162, 162, 162, 0.2);
}

.tickets-table table tbody .table-row:hover {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    opacity: 1;
    cursor: pointer;
}

.table-row-no-requests {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    margin: 0.5em 15%;
    padding: 1.5em 0;
}
.no-requests-found {
    font-size: 2em;
    color: #757575;
}

.cancel-confirm h1 {
    color: #757575;
    font-weight: normal;
    text-align: left;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    line-height: 1.5em;
    border-bottom: 1px solid #b5b5b5;
}

.cancel-confirm p {
    color: #757575;
    font-size: 1.2em;
    text-align: left;
    padding-bottom: 1.5em;
    line-height: 1.5em;
}

@media screen and (max-width: 900px) {
    .user-homepage-main {
        flex-direction: row;
        justify-content:space-around;
        align-items: start;
    } 
    
    .user-homepage-main .tickets-table-header {
        width: 90%;
        margin-bottom: 2em;
    }
    
    .user-homepage-main .search-filter-header {
        width: 20%;
        flex-direction: column;
        
    }

    .user-homepage-main .tickets-table {
        width: 70%;
    }

    .search-filter-header .per-status {
        width: 100%;
        border-right: none;
        justify-content: space-between;
    }
    .search-filter-header .per-status .initial-option-container {
        padding: 0;
    }
    .search-filter-header .per-details {
        width: 100%;
        margin-top: 1em;
    }
    .search-filter-header .per-details img{
        display: none;
    }

    .search-filter-header .per-period {
        width: 100%;
        flex-direction: column;
        margin: 2em 0;
        align-items: start;
    }

    .search-filter-header .per-period .perPeriodSelector{
        width: 82px;
        text-align: center;
    }

    .tickets-table table thead {
        margin: 0.5em 0.5em;
        
    }

    .tickets-table table thead tr {
        padding: 1em 0;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    }
    .tickets-table table tbody {
        max-height: 65vh;
    }
    .tickets-table table tbody .table-row {
        margin: 0.5em 0.5em;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    }

    .tickets-table table tbody .table-row td.table-data-subject,
    .tickets-table table thead tr th.table-header-subject{
        width: 41%;

    }

    .tickets-table table thead tr th.table-header-created-on, 
    .tickets-table table tbody .table-row td.table-data-created-on, 
    .tickets-table table thead tr th.table-header-updated-on, 
    .tickets-table table tbody .table-row td.table-data-updated-on {
        width: 19%;
    }
}

@media screen and (max-width: 700px) {
    .user-homepage-main .search-filter-header {
        width: 50%;
        justify-content: center;
        align-items: center;
        padding: 1em 0.5em;
    }

    .user-homepage-main .tickets-table {
        width: 90%;
    }

    .search-filter-header .per-status,
    .search-filter-header .per-details{
        width: 90%;
    }

    .search-filter-header .per-period {
        width: 90%;
        flex-direction: row;
        margin: 2em 0;
        align-items: start;
        justify-content: space-between;
    }

    .search-filter-header .per-period .perPeriodSelector{
        width: 82px;
        text-align: center;
    }

    .search-filter-header .per-details input {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .search-filter-header .per-period {
        width: 100%;
        flex-direction: column;
        margin: 2em 0;
        align-items: center;
    }

    .tickets-table table thead tr th.table-header-updated-on, 
    .tickets-table table tbody .table-row td.table-data-updated-on {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .user-homepage-main .tickets-table-header {
        flex-direction: column;
    }
    .user-homepage-main .tickets-table-header h1 {
        margin-bottom: 1em;
    }
    .tickets-table table thead tr th.table-header-created-on, 
    .tickets-table table tbody .table-row td.table-data-created-on {
        display: none;
    }
    .tickets-table table tbody .table-row td.table-data-subject, 
    .tickets-table table thead tr th.table-header-subject {
        width: 65%;
    }
    .tickets-table table tbody .table-row td.table-data-status-cell, 
    .tickets-table table thead tr th.table-header-status {
        width: 26%;
    }
    .tickets-table table tbody {
        overflow: visible;
        max-height: none;
    }
    .tickets-table table tbody tr td {
        padding: 1em 0 1em 1em;
    }
    .tickets-table table thead tr th {
        margin-left: 1em;
    }
    .tickets-table table {
        margin-bottom: 1em;
    }
}