{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="create-role-pane form-container">
        <form action="{% url 'create-role'%}" method="post">
            {% csrf_token %}
            <div class="form-fields">
                {{ form }}
            </div>
            <div class="form-buttons">
                <a href="{% url 'roles' %}" class="cancel">Cancel</a>
                <button class="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}
